.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

body {
  --bs-primary: #d9f9a5;
  --bs-primary-rgb: 217,249,165;
  --bs-secondary: #68534d;
  --bs-secondary-rgb: 104,83,77;
}

#TP {
  max-height: 40vw;
  width: auto;
}

#chess {
  max-height: 40vw;
}

#Activity {
  display: none;
}

#Activity:hover {
  display: flex;
}

.Activity-list {
  display: none;
  position: relative;
}

.Activity-list.a:hover {
  display: flex;
}

.Activity-list:hover {
  display: flex;
}

#Reviews {
  max-height: 40vw;
  width: auto;
}

.object-fit:scale-down; {
  object-fit: scale-down;
}

.Post {
  margin-top: 40px;
  line-height: 18px;
  font-size: 19px;
  font-family: 'Albert Sans';
}

